.checkboxTree :global(.rct-node) {
  margin-left: 1.5rem;
}

.checkboxTree :global(.rct-node input[type="checkbox"]) {
  display: none;
}

.checkboxTree :global(.rct-text label) {
  display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}