.embla {
  width: 100%;
  max-width: 30rem;
  margin: auto;

  --slide-spacing: 1rem;
  --slide-size: 100%;
}

@media (min-width: 1024px) {
  .embla {
    max-width: 25rem;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  aspect-ratio: 1 / 1;
}

.embla__slide__inner {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.embla__slide__number {
  border: 0.2rem solid var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.embla-thumbs {
  --thumbs-slide-spacing: 0.6rem;
  margin-top: var(--thumbs-slide-spacing);
}

.embla-thumbs__viewport {
  overflow: hidden;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
  flex: 0 0 25%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 25%;
  }
}

.embla-thumbs__slide__number {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0.2rem solid transparent;
  padding: 0;
  margin: 0;
  aspect-ratio: 1 / 1;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  opacity: 0.5;
}


.embla-thumbs__slide__number:hover {
  opacity: 1;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  opacity: 1;
}
